
@font-face
{
	fontFamily: "Myriad Pro Black";
	src: url("assets/fonts/MyriadPro-Black.otf");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: "Myriad Pro Light";
	src: url("assets/onts/MyriadPro-Light.otf");
	embedAsCFF: true;
}











