/.fxpTemp/
/.metadata/
/AIR/.actionScriptProperties
/AIR/.flexProperties
/AIR/.fxpProperties
/AIR/.project
/AIR/.settings/
/AIR/bin-debug/
/AIR/build/
bin-release
/Skins/PersonalSETISkin_SamsungGalaxyTab.fxp
/Skins/PersonalSETISkin_SamsungGalaxyTab/bin-debug/Main.swf