
@font-face
{
	fontFamily: "Arial Rounded MT Bold";
	src: url("/Library/Fonts/Arial Rounded Bold.ttf");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: "Myriad Pro";
	src: url("/Library/Fonts/MyriadPro-Regular.otf");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: "Myriad Pro Black";
	src: url("/Users/francispotter/Library/Fonts/MyriadPro-Black.otf");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: "Myriad Pro Light";
	src: url("/Users/francispotter/Library/Fonts/MyriadPro-Light.otf");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: "Myriad Pro Semibold";
	src: url("/Library/Fonts/MyriadPro-Semibold.otf");
	embedAsCFF: true;
}












































































































