
@font-face
{
	fontFamily: "Myriad Pro Black";
	src: url("/Users/francispotter/Library/Fonts/MyriadPro-Black.otf");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: "Myriad Pro Light";
	src: url("/Users/francispotter/Library/Fonts/MyriadPro-Light.otf");
	embedAsCFF: true;
}









