
@font-face
{
	fontFamily: "Myriad Pro";
	src: url("/assets/fonts/MyriadPro-Regular.otf");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: "Myriad Pro Semibold";
	src: url("/assets/fonts/MyriadPro-Semibold.otf");
	embedAsCFF: true;
}























