
@font-face
{
	fontFamily: "Myriad Pro";
	src: url("/Library/Fonts/MyriadPro-Regular.otf");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: "Myriad Pro Semibold";
	src: url("/Library/Fonts/MyriadPro-Semibold.otf");
	embedAsCFF: true;
}

























