
<!-- Code below is ported from default Flex Main.html file -->

<!-- SWFObject's dynamic embed method replaces this alternative HTML content with Flash content when enough 
     JavaScript and Flash plug-in support is available. The div is initially hidden so that it doesn't show
     when JavaScript is disabled.
-->
  <%if current_user%>
  
  
    <%if can? :explore, :all%>
    
    <div style="background-color:#666666;padding-top:60px;padding-left:10px; padding-right:10px;padding-bottom:100px">

  
      <div style="width:800px;margin-left:auto;margin-right:auto">  


        <div id="flashContent">
          <div style="color:#FFFFFF">
            <h1>Flash Player Required</h1>
            setiQuest Explorer requires Adobe Flash Player version 10.2.0 or higher.
            <script type="text/javascript"> 
                var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://"); 
                document.write("<a href='http://www.adobe.com/go/getflashplayer'><img src='" 
                                + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>" ); 
            </script> 
          </div>
        </div>

        <noscript>
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="100%" id="Main">
                <param name="movie" value="/flex/BrowserApplication.swf" />
                <param name="quality" value="high" />
                <param name="bgcolor" value="#444444" />
                <param name="allowScriptAccess" value="sameDomain" />
                <param name="allowFullScreen" value="true" />
                <!--[if !IE]>-->
                <object type="application/x-shockwave-flash" data="/flex/BrowserApplication.swf" width="100%" height="100%">
                    <param name="quality" value="high" />
                    <param name="bgcolor" value="#444444" />
                    <param name="allowScriptAccess" value="sameDomain" />
                    <param name="allowFullScreen" value="true" />
                <!--<![endif]-->
                <!--[if gte IE 6]>-->
                <div style="color:#FFFFFF">
                  <h1>Javascript and Flash Player Required</h1>
                        Either scripts and active content are not permitted to run or Adobe Flash Player version
                        10.2.0 or greater is not installed.
                </div>
                <!--<![endif]-->
                    <a href="http://www.adobe.com/go/getflashplayer">
                        <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player" />
                    </a>
                <!--[if !IE]>-->
                </object>
                <!--<![endif]-->
            </object>
        </noscript>     

  
        <div style="background-color:#DDDDDD;padding:10px;margin-top:20px;color:#000000">
          <b>This is Pre-Release software! Use it at your own risk!</b><br/>
          There is also an <a href="/android/setiQuestExplorer.apk">Android application</a> which is even <i>more</i> risky.
        </div>
      </div>
    </div>
      
      <%else%>
      <div style="color:#FFFFFF;background-color:#000000;padding-top:40px;padding-left:20px;padding-right:20px;padding-bottom:80px">
        <img src="/images/SQELogo_344x124.jpg" style="display:block; margin-left:auto;margin-right:auto;margin-bottom:30px"/>
        <div style="font-size:16px;padding-left:210px;padding-right:210px">Thanks for registering for the private beta program. We'll contact you when the program begins, with further information.</div>
      </div>
      <%end%>
    <%else%>
      
    <div style="color:#FFFFFF;background-color:#000000;padding-top:40px;padding-left:20px;padding-right:20px">
      <img src="/images/SQELogo_344x124.jpg" style="display:block; margin-left:auto;margin-right:auto;margin-bottom:30px"/>
      
        <div style="font-size:16px">setiQuest Explorer is a web and mobile application for viewing radio telescope data from SETI targets and helping to identify and categorize patterns. It is a program of the SETI Institute, developed by The Hathersage Group, sponsored by Adobe Systems. If you would like to participate in the private beta program which begins in mid-March, then log in below using your Facebook credentials. We will not post to your wall, nor share your information with anyone.</div>
        <div style="margin-left:auto;margin-right:auto;text-align:center;padding-top:40px;padding-bottom:80px"><%= link_to "Log in using Facebook", "/auth/facebook", {:style=>'color:#3B5998;font-size:20px;font-weight:bold'}%></div>
      </div>
    <%end%>


 






